{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>Acquia Domain validation checker</h1>
        <p>For using with SSL certificate generation</p>
    </div>
    
    <div class="row">
        <div class="col-md-4">
            <form action="{{ url_for('.home') }}" method="POST" name="domain">
                {{ form.hidden_tag() }}
                <p>Enter Domain: </p> {{form.domain}}
                <input type="submit" name="domain"/>
            </form>

        </div>

    </div>
{% endblock %}